---
import Main from '../../layouts/Main.astro'
import Icon from '../../components/Icon.jsx'
export async function getStaticPaths({rss}) {
    const data = Astro.fetchContent("../../blog/*.md")
    const rep = data.map(d=>{
        return {
          params:{slug:d.slug},
          props:{...d
            }}
    })
     rss({
    title: 'Benjamin Geets',
    description: 'Dev web junior mais on est la',
    customData: `<language>fr-FR</language>`,
    items: data.map(item => ({
      title: item.title,
      description: item.description,
      link: item.slug,
      pubDate: item.publishedat,
    })),
    dest: "/blog/feed.xml",
  });
  return rep
}
const {title,description,tags,content,publishedat} = Astro.props
---

<Main title={title} description={description}>
<div class="fixed bottom-0 w-screen p-2 md:left-4 md:bottom-auto md:w-auto">
    <div class="relative flex items-center justify-center p-2 text-blue-800 bg-gray-200 border rounded-md dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-900 dark:hover:text-blue-400 dark:text-blue-300 md:justify-start hover:bg-gray-100 hover:text-indigo-400">
        <Icon name="Arrow-back"/>
        <a href="/blog" class="before:absolute before:w-full before:h-full before:left-0 before:top-0">Blog</a>
    </div>
</div>
<article class="px-2 mx-auto mt-10 max-w-64ch markdown">

<small>
{
    new Date(publishedat).toLocaleDateString("fr-FR",{ year: 'numeric', month: 'long', day: 'numeric' })
} /
{tags.map(e=>(
    <span>#{e}&nbsp;</span>
))}

</small>
<p></p>
{content.html}
</article>
<div class="h-20 md:h-0">
</div>
</Main>
