---
import MainLayout from '../layouts/MainLayout.astro'
import Icons from '../components/Icons'
const title = "Benjamin Geets :: Développeur web (Tournai \ Belgique)"
const description = "Développeur web frontend: Jamstack, SvelteKit, Node.js, ..."
const shareImage = "https://geets.dev/img/share.png"
const links = [
    { text: "Github", href: "https://github.com/benjamingeets", external: true },
    { text: "LinkedIn", href: "https://linkedin.com/in/benjamingeets", external: true },
    { text: "Portfolio", href: "/portfolio" },
    { text: "Contact", href: "mailto:benjamin@geets.dev" }
]

const mainStack = [
    "SvelteKit",
    "Nodejs",
    "Tailwind",
    "Jamstack"
]

const secondaryStack = [
    "Vue",
    "React"
]
---
<style>
.link #outside{
    display: none;
}
.link:hover #outside{
    display: block;
}
</style>

    <MainLayout title={title} description={description} index={false} shareImage={shareImage}>
        <div class="min-h-screen w-screen dark:bg-gray-900 dark:text-gray-100">
            <main class="max-w-3xl mx-auto min-h-screen flex items-center sm:p-4">
                <div class="w-full bg-gray-200 dark:bg-gray-800 p-8 sm:rounded-lg sm:min-h-0 min-h-screen flex md:flex-row flex-col md:justify-between">
                    <div class="flex flex-col md:w-9/12 w-12/12">
                        <h1 class="md:text-5xl text-3xl font-bold">Benjamin Geets 🍃</h1>
                        <h2 class="font-bold md:text-2xl text-lg my-2">Développeur web</h2>
                        <p>
                            {mainStack.map(s => (
                                <span>
                                    #{s}
                                </span>
                            ))}
                            <small>
                                {secondaryStack.map(s => (
                                    <span>#{s}</span>
                                ))}
                            </small>
                        </p>
                    </div>
                    <hr class="md:hidden block my-4 h-1 bg-gray-600">
                        <ul class="md:w-2/12 w-12/12 flex md:flex-col flex-row md:justify-center flex-wrap">
                            {links.map(l => (
                                <li class="mr-2 mt-2 flex">
                                    <a rel="noopener" target={`${l.external ? '_blank': ''}`} class="link font-bold text-gray-600 dark:text-gray-300 hover:text-green-600 flex transition" href={ l.href }>
                                    <Icons name={l.text}/>
                                    <span class="mx-2">{ l.text }</span>
                                    {l.external &&
                                        <span id="outside">
                                            <Icons name="External"/>
                                        </span>
                                    }
                                </a>
                        </li>
                    ))}

                    </ul>
                </div>
            </main>
        </div>
    </MainLayout>