---
const {project} = Astro.props
---
<div class="relative w-full transition rounded-md md:shadow-xl md:p-4 md:bg-white hover:shadow-2xl hover:-translate-y-2 hover:scale-105">
    <h3 class="text-2xl">{project.title}</h3>
    <figure class="relative w-full aspect-square">
        <img width={2000} height={2000} loading="lazy" src={project.image} class="object-cover object-center w-full h-full rounded-md" alt={project.title}>
    </figure>
    <a target="_blank" class="inline-block mt-4 font-bold hover:underline before:absolute before:inset-0" href={"https://" + project.href}>{project.href}</a>
</div>