---
import "../css/app.css"
const {title = "Benjamin Geets :: Développeur web (Tournai, Belgique)",description ="Développeur web dans la région de Tournai"} = Astro.props
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{title}</title>




	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Primary Meta Tags -->
    <meta name="title" content={title}>
    <meta name="description" content={description}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://geets.dev">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://geets.dev">
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>
    <script async defer src="https://nullitics.com/script.js"></script>
</head>
<body style="background:rgb(244,244,246)" class="relative">
	<slot/>
    <script>
        import "../scripts/app.js"
    </script>
</body>
</html>