---
import MainLayout from '../../layouts/MainLayout.astro'
const data = Astro.fetchContent('./*.md');
---

<head><link rel="stylesheet" href={Astro.resolve('../styles/global.css')}></head>

<MainLayout title="Portfolio" index={true}>
<div class="block md:absolute md:m-0 m-5 left-10 top-10">
    <h1 class="text-2xl font-bold dark:text-gray-100">Benjamin Geets</h1>
    <p class="dark:text-gray-100">portfolio</p>
</div>
<div class="fixed md:left-8 md:bottom-auto md:top-28 bottom-0 md:w-auto w-screen p-2">
    <a href="/"
        class="dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-900 dark:hover:text-blue-400 dark:text-blue-300 flex md:justify-start justify-center items-center bg-gray-200 border hover:bg-gray-100 p-2 rounded-md  text-blue-800 hover:text-indigo-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current" width="25" height="25" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="11 7 6 12 11 17" />
            <polyline points="17 7 12 12 17 17" />
        </svg>
        Retour
    </a>
</div>
<section class="mx-auto min-w-screen md:min-h-screen flex justify-center md:items-center items-end md:mb-0 mb-20">
    <div class="max-w-3xl w-full px-2 md:mb-0 mb-2">
        <div class="flex w-full flex-wrap gap-2">
            {data.map(projet=>(
            <a href={projet.url}
                class="transition border p-2 rounded-md bg-gray-200 dark:bg-gray-800 dark:border-gray-800 dark:hover:text-blue-400 hover:bg-gray-100 dark:hover:bg-gray-900 text-blue-800 dark:text-blue-300 hover:text-indigo-400">
                <h3 class="font-bold">{projet.emoji} {projet.title}</h3>
                <small class="text-xs text-gray-600 dark:text-gray-200">
                    {projet.techno.map((t)=>(
                    <span>#{t}&nbsp;</span>
                    ))}
                </small>
            </a>
            ))}
        </div>
    </div>
</section>
</MainLayout>
